/*shared design*/

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.dark1{
    color: #131313;
}
.dark2{
    color: #424242;
}
.dark3{
    color: #727272;
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    border-radius: 8px;
    font-size: 1rem;
    padding: 12px;
    font-weight: 500;
    border: none;

}
p{
     font-size: .8rem;
    font-weight: 400;
    color: #727272;
}

/*Header */
header{
    background-color: rgba(255, 144, 14, 0.1);
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0%;
}
/*nav*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 12px;
}
nav h1{
    font-size: 2.2rem;
    font-weight: 600;
}
nav li{
    font-size: 1.1rem;
    font-weight: 400;
}
/* Brand New group section */
.header-brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.header-brand p{
    font-size: .8rem;
    font-weight: 400;
}
.header-brand h1{
    font-size: 3.5rem;
    font-weight: 600;
    line-height: .9;
    margin-bottom: 0%;
}
.header-brand img{
    width: 80%;
}
/* Main section */
main{
    max-width: 1140px;
    margin: 0px auto;
}
/* Teams Section*/
.teams{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 130px auto;
}
.teams-contain{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width: 30%;
}
.Features{
    color: #FF900E;
}
.teams-feature h2{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0%;
}
.teams-feature p{
    font-size: .8rem;
    font-weight: 400;
}
/*Section 2 Architecture*/
.features-girl{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin: 120px auto;
    justify-content: center;
    align-items: center;
}
.features-list{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.features-list h2{
    font-size: 2rem;
    font-weight: 500;
    border-left: 3px solid #FF900E;
}

.features-list p{
    font-size: .8rem;
    font-weight: 400;
    color: #727272;
}

.features-list h3{
    font-size: 1.2rem;
    color: #131313;
    font-weight: 500;
}

.contain div{
    padding: 5px;
    margin: 9px;
    border: none;
    background-color: white;
    box-shadow: .01px .01px 2px #aca9a9;
}


.girl img{
    width: 70%;
    margin-left: 50px;
    margin-top: 50px;
}
 .badge{
    padding: 15px;
    margin-top: -100px;
}
.badge span{
    font-size: 2rem;
    font-weight: 800;

}
/*Some Facts Section*/
.facts{
   margin: 120px auto;
}
.badge-contain{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 25px;
}
.fact-badges{
    border: 1px solid #FF900E;
    padding: 10px 0px 10px;
    width: 70%;
    margin: 0%;
    border-radius: 8px;
}
.facts h3{
   font-size: 1.5rem;
   font-weight: 600; 
}
.facts h4{
   font-size: 1.5rem;
   font-weight: 500; 
}
.facts h5{
   font-size: .9rem;
   font-weight: 400; 
}
/* Sponspors Section*/
.sponspors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
    margin: 130px auto;
}
.sponspors h3{
    font-size: 2rem;
    font-weight: 700;
    margin: 0%;
}
.spons-contain{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 15px;
}
.spons-contain img{
    width: 70%;
    filter: grayscale(100%);
}